<% 
$ur_rows = 0
$ur_isActive = false

#for ur in @user_relations 
#    $ur_rows = $ur_rows + 1
#    $ur_isActive = ur.isActive
#end 
%>

<h1><%= @user.display_name %>'s Profile</h1>

<%= 
#TODO: add images
#image_tag("/image_stores/code_image/#{@user.photo_id}", :alt => "Image") 
%>

<div>

  Name: <%= @user.name   %><br/>
  Email: <%= @user.email %><br/>
  Administrator: <%= @user.admin   %><br/>
  Reviewer: <%= @user.reviewer %><br/>
<%
=begin 
#TODO: fix this %>
    <% if @user.reviewer %>
        <% if $ur_rows > 0 && $ur_isActive %>
            <%= link_to "unsubscribe", :controller => "profiles", :action => "unsubscribe", :id => @user.id %>
        <% else %>
            <%= link_to "subscribe", :controller => "profiles", :action => "subscribe", :id => @user.id %>
        <% end %>
    <% else %>
        <% if $ur_rows > 0 && $ur_isActive %>
            <%= link_to "unfriend", :controller => "profiles", :action => "unfriend", :id => @user.id %>
        <% elsif $ur_rows > 0 && !$ur_isActive %>
            <!-- if the user has initiated a friend request, but it hasn't been accepted yet -->
            pending.
        <% else %>
            <%= link_to "friend", :controller => "profiles", :action => "friend", :id => @user.id %>
        <% end %>
    <% end %>
<%
=end
%>
<br>
  <table>
  <% for r in @reviews %>
    <tr class="<%= cycle("d1","d0")%>"> <td>
    Date: <%= r.created_at %> 
    <%= link_to r.shop.name, :controller => "shops", :action => "show", :id => r.shop.id %> -- 
    C: <%= r.CappuccinoScore %> -- 
    E: <%= r.EspressoScore %> -- 
    D: <%= r.DripScore %> --  
    A: <%= r.AtmosphereScore %> -- 
    P: <%= r.PersonalityScore %> -- 
    Total: <%= totalScore(r) %> (<%= scoreToHundred(totalScore(r))%>)<br>
    <%= truncate(r.description, :length => 200, :omission => '...') %> 
    <%= link_to "(show review)", :controller => "reviews", :action => "show", :id => r %>
    </td></tr>
  <% end %>
 </table>
</div>