<h1>Listing shops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
  </tr>

<% @shops.each do |shop| %>
  <tr class="<%= cycle("d0","d1")%>">
    <td><%= link_to shop.name, shop %></td>
    <td><%= shop.address %></td>
    <% if !current_user.nil? && current_user.admin %>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, :confirm => 'Are you sure?', :method => :delete %> TODO: change these (and all to soft deletes) </td>
    <% else %>
        <td> </td>
        <td> </td>
    <% end %>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop', new_shop_path %>
<%= gmaps4rails(@json) %>

