<% @markers = '[' %>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Score</th>
    <th>Distance:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% if !current_user.nil? 
    @shops.each do |shop| 
       $uAddress = shop['locationAddress']
       $uName = shop['locationName']
       $uLat = shop['userLatitude']
       $uLong = shop['userLongitude']
       $uName = shop['locationName']

       #Add myLocation ---
        @markers = @markers + "{\"description\": \"\", \"title\": \"My Location: #{$uName}\", \"sidebar\": \"\", \"longitude\": \"#{$uLong}\", \"latitude\": \"#{$uLat}\", \"picture\": \"images/google-map-blue.png\", \"width\": \"32\", \"height\": \"32\"},"
    end %>
    <tr>
        <td colspan = 2><%= link_to "My Location (#{$uName})", '/user_locations' %>: <%= $uAddress %></td>
        <td></td>
        <td>0.00</td>
        <td colspan = 3></td>
        <td></td>
    </tr>
<% end %>



<% 

@shops.each do |shop| 
@markers = @markers + "{\"description\": \"\", \"title\": \"#{shop["name"]}\", \"sidebar\": \"\", \"longitude\": \"#{shop["longitude"]}\", \"latitude\": \"#{shop["latitude"]}\", \"picture\": \"\", \"width\": \"\", \"height\": \"\"},"
%>

  <tr class="<%= cycle("d0","d1")%>">
    <td><%= link_to shop['name'], "shops/#{shop['id']}" %></td>
    <td><%= shop['address'] %></td>
    <td><%= decimalPlaces(shop['shopScore'],2) %></td>
    <td><%= decimalPlaces(shop['distanceToMyLocation'],2) %> mi</td>
    <% if !current_user.nil? && current_user.admin %>
        <td>
            <% if shop['FavoriteIsActive'] %>
                <%= link_to(image_tag("star_sm.gif", :border =>0), "/favorite_shops/deactivate/#{shop['id']}") %>
            <% else %>
                <%= link_to(image_tag("star_empty_sm.gif", :border =>0), "/favorite_shops/activate/#{shop['id']}") %>
            <% end %>
        </td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td>
            <% if Integer(shop['isActive']) > 0 %>
                <%= link_to 'Deactivate', shop['id'], :method => :delete %>
            <% else %>
                <%= link_to 'Activate', activate_shops_path(shop['id']) %>
            <% end %>
            <%= link_to 'X', demolish_shops_path(shop['id']), :confirm => 'Are you sure?' %>
        </td>
    <% else %>
        <td> </td>
        <td> </td>
        <td> </td>
    <% end %>
    
  </tr>
<% 
end
@markers = @markers + ']'


 %>
</table>

<% if !current_user.nil? && (current_user.admin || current_user.reviewer ) %>
    <%= link_to ' New Shop', new_shop_path %>
<% end %>

<br />

<!-- 

TODO: if the user is logged in, map myLocationm if not, center on a random shop
Then pick the zoom ratio, based on the distance to the Nth shop?

--> 

<%=

    gmaps(
        "markers" => {
            "data" => @markers, 
            "options" => {
                #"list_container" => "markers_list", 
                "do_clustering" => true 
             } 
          },
          "map_options" => { 
            "id" => "gmaps4rails_map" , 
            "zoom" =>13, 
            "auto_adjust" => true, 
            "center_latitude" => $uLat,  
            "center_longitude" => $uLong
         }
      )

 %>
<%= 
#old
#gmaps4rails(@json) 
%>



