<h1>shops</h1>
<% if !current_user.nil? %>
    <table>
        <tr>
            <th align=left>&nbsp;&nbsp;&nbsp;&nbsp;My Location <%= link_to '(change)', '/user_locations' %>
            </th>
        </tr>
        <tr>
            <td align=left>
            <% 
                @shops.each do |shop| 
            %>
            <%= shop['locationName'] %>: <%= shop['locationAddress'] %>
            <% 
                break
                end
            %>
            </td>
        </tr>
    </table>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Score</th>
    <th>Distance:</th>
    <th></th>
    <th></th>
  </tr>

<% 
@shops.each do |shop| 
%>

  <tr class="<%= cycle("d0","d1")%>">
    <td><%= link_to shop['name'], "shops/#{shop['id']}" %></td>
    <td><%= shop['address'] %></td>
    <td><%= shop['shopScore'] %></td>
    <td><%= shop['distanceToMyLocation'] %> mi</td>
    <% if !current_user.nil? && current_user.admin %>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td>
            <% if !shop['isActive'] %>
                <%= link_to 'Activate', activate_shops_path(shop['id']) %>
            <% else %>
                <%= link_to 'Deactivate', shop['id'], :method => :delete %>
            <% end %>
                <%= link_to 'X', demolish_shops_path(shop['id']), :confirm => 'Are you sure?' %>
        </td>
    <% else %>
        <td> </td>
        <td> </td>
    <% end %>
    
  </tr>

<% end %>
</table>

<% if !current_user.nil? && (current_user.admin || current_user.reviewer ) %>
    <%= link_to ' New Shop', new_shop_path %>
<% end %>

<br />

<%= gmaps4rails(@json) %>


