<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @baristum.name %>
</p>

<p>
  <b>Description:</b>
  <%= @baristum.description %>
</p>

<p>
  <b>Photo:</b>
  <%= @baristum.photo_id %>
</p>
<table>
<% for r in @reviews %>
    <tr class="<%= cycle("d1","d0")%>"> <td>
    Date: <%= r.created_at %> 
    <%= link_to r.shop.name, :controller => "shops", :action => "show", :id => r.shop.id %> -- 
    C: <%= r.CappuccinoScore %> -- 
    E: <%= r.EspressoScore %> -- 
    D: <%= r.DripScore %> --  
    A: <%= r.AtmosphereScore %> -- 
    P: <%= r.PersonalityScore %> -- 
    Total: <%= totalScore(r) %> (<%= scoreToHundred(totalScore(r))%>)<br>
    <%= truncate(r.description, :length => 200, :omission => '...') %> 
    <%= link_to "(show review)", :controller => "reviews", :action => "show", :id => r %>
    </td></tr>
  <% end %>
</table>
<%= link_to 'Edit', edit_baristum_path(@baristum) %> |
<%= link_to 'Back', barista_path %>
