<%= form_for(@favorite_shop) do |f| %>
  <% if @favorite_shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite_shop.errors.count, "error") %> prohibited this favorite_shop from being saved:</h2>

      <ul>
      <% @favorite_shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shop_Id %><br />
    <%= f.text_field :shop_Id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :isActive %><br />
    <%= f.check_box :isActive %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
