<h1>Listing favorite_shops</h1>

<table>
  <tr>
    <th>Shop</th>
    <th>Address</th>
    <!--<th></th>
    <th></th>
    <th></th>-->
  </tr>

<% @favorite_shops.each do |favorite_shop| %>
  <tr>
    <td><%= link_to favorite_shop.shop.name, "shops/#{favorite_shop.shop_id}" %></td>
    <td><%= favorite_shop.shop.address %></td>
    <td><%= link_to(image_tag("star_sm.gif", :border =>0), "/favorite_shops/deactivateFavoriteIndex/#{favorite_shop.shop_id}") %></td>
    <!--<td><%= link_to 'Show', favorite_shop %></td>
    <td><%= link_to 'Edit', edit_favorite_shop_path(favorite_shop) %></td>
    <td><%= link_to 'Destroy', favorite_shop, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>

<%=

    gmaps(
        "markers" => {
            "data" => @json, 
            "options" => {
                #"list_container" => "markers_list", 
                "do_clustering" => true 
             } 
          },
          "map_options" => { 
            "id" => "gmaps4rails_map" , 
            "zoom" =>13, 
            "auto_adjust" => true, 
            "center_latitude" => $uLat,  
            "center_longitude" => $uLong
         }
      )

 %>
<br />

<%= link_to 'New Favorite shop', new_favorite_shop_path %>
