<h2>Edit Profile</h2>

<%= image_tag @user.photo.url(:thumb) %><br/>
<%= link_to 'Add Photo', "/image_stores/new/" %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <% devise_error_messages! %>

    <h3>About</h3>
    <%= f.input :name, :label => "Name" %>
    <%= f.input :email, :label => "Email" %>
    <%= f.input :slug, :label => "Personal URL" %>

    <br/>
    <h3>Password</h3>
    <%= f.input :password, :label => "Password",
                :hint => "leave blank if you don't want to change it" %>

    <%= f.input :password_confirmation, :label => "Password Confirmation" %>

    <%= f.input :current_password, :label => "Current Password",
                :hint => "we need your current password to confirm a password change" %>

    <br>
    
    Admin: <%= f.check_box :admin, :label => "Administrator" %><br>
    
    Reviewer: <%= f.check_box :reviewer, :label => "Reviewer" %><br>
    
    TODO: lock these down at some point

    <p><%= f.submit "Update" %></p>
<% end %>

<br/>
<br/>
<%= render :partial => "devise/shared/social_connect_and_unconnect" %>