<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shop_id %><br />
    <%= debug @shopList %>
    <%= collection_select("review", "shop_id", @shopList, "id", "name", {:prompt => true}) %>
    -- TODO: prepopulate this if the ID is passed in.
    -- TODO: this breaks if you comeback to this page with an error.
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :CappuccinoScore %><br />
    <%= f.text_field :CappuccinoScore %>
  </div>
  <div class="field">
    <%= f.label :EspressoScore %><br />
    <%= f.text_field :EspressoScore %>
  </div>
  <div class="field">
    <%= f.label :PersonalityScore %><br />
    <%= f.text_field :PersonalityScore %>
  </div>
  <div class="field">
    <%= f.label :AtmosphereScore %><br />
    <%= f.text_field :AtmosphereScore %>
  </div>

  <%= f.hidden_field :user_id, { :value => current_user.id } %>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
