<% @review.each do |r| %>

<p id="notice"><%= notice %></p>

<p>
  <b>Shop:</b>
   <%= 
   link_to r.shop.name, :controller => "shops", :action => "show", :id => r.shop_id  
   %>
</p>

<p>
  <b>Description:</b>
  <%= r.description %>
</p>

<p>
  <b>Cappuccino score:</b>
  <%= r.CappuccinoScore %>
</p>

<p>
  <b>Espresso score:</b>
  <%= r.EspressoScore %>
</p>
<p>
  <b>Drip score:</b>
  <%= r.DripScore %>
</p>
<p>
  <b>Personality score:</b>
  <%= r.PersonalityScore %>
</p>

<p>
  <b>Atmosphere score:</b>
  <%= r.AtmosphereScore %>
</p>

<p>
  <b>Total Score:</b>
  <%= 
  #decimalPlaces(r.reviewScore,2) 
  %>
</p>



<br>
<% if !current_user.nil? && (current_user.admin || (current_user.reviewer && current_user.id == r.user_id))%>
  <%= link_to 'Edit', edit_review_path(r.id) %> | 
  <% if !r.isActive %>
     <%= link_to 'Activate', activate_reviews_path(r.id) %>
  <% else %>
     <%= link_to 'Deactivate', demolish_reviews_path(r.id), :method => :delete %>
  <% end %>
     <%= link_to 'X', demolish_reviews_path(r.id), :confirm => 'Are you sure you want to delete?' %>
<% end %>
<%= link_to 'Back', reviews_path %>
<% end %>