<p id="notice"><%= notice %></p>

<p>
  <b>Shop:</b>
  <%= link_to @review.shop.name, :controller => "shops", :action => "show", :id => @review.shop.id %>
</p>

<p>
  <b>Description:</b>
  <%= @review.description %>
</p>

<p>
  <b>Cappuccinoscore:</b>
  <%= @review.CappuccinoScore %>
</p>

<p>
  <b>Espressoscore:</b>
  <%= @review.EspressoScore %>
</p>

<p>
  <b>Personalityscore:</b>
  <%= @review.PersonalityScore %>
</p>

<p>
  <b>Atmospherescore:</b>
  <%= @review.AtmosphereScore %>
</p>

<p>
  <b>Total Score:</b>
  <%= totalScore(@review) %> (<%= scoreToHundred(totalScore(@review))%>)
</p>

<p>
  <b>User:</b>
  <%= link_to @review.user.name, profile_path(@review.user) %>
</p>

<br>
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
