<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <title>Coffee Compass</title>
  <%= 
  stylesheet_link_tag 'scaffold'
  %>
  <%= 
  stylesheet_link_tag 'application'
  %>
  <%=
  stylesheet_link_tag 'forms'
  %>
  <%=
  stylesheet_link_tag 'gmaps'
  %>
  <%=
  stylesheet_link_tag 'coffee'
  %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "slider.js" %>
  <%= csrf_meta_tag %>

  <meta property="title" content="<%= @page_title || DEFAULT_PAGE_TITLE %>"/>
  <meta property="description" content="<%= @page_description || DEFAULT_PAGE_DESCRIPTION %>"/>
  
  <%= content_for :page_specific_head %>
  

</head>
<body>

<div class="page_content">
  <%= image_tag "header.gif" %>
  <div id="user_nav">

    <%= link_to 'Home', '/' %> |
    <%= link_to 'Shop', '/shops' %> |
    <%= link_to 'Reviews', '/reviews' %> |
    <%= link_to 'Baristas', '/barista' %> |
    <% if user_signed_in? %>
    	<% if current_user.admin %>
    		<%= link_to 'Admin', '#' %> |
    	<% end %>
        
        <%= link_to 'Sharing', sharings_path %> |
        <%= link_to 'Profile', profile_path(current_user) %> |
        <%= link_to 'Edit Profile', edit_user_registration_path(current_user) %> |
        <%= link_to 'My Favorites', '/favorite_shops' %> |
        <%= link_to 'My Locations', '/user_locations' %> |
        <%= link_to 'My Checkins', '/shop_checkins' %> | 
        <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>
  <%= raw notice_html %>
  <%= raw alert_html %>

  <%= yield %>
	 
</div>

<div class="footer">
  <%= yield :scripts %>
  <!--
  --SESSION-- <%= debug session %> 
  --PARAMS-- <%= debug params %>
  --current_user-- <%= debug current_user %>
  -->
</div>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js">
</script>

<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<!--
MON: cafe racer
TUES: Vivace

TODO:
CODE:

  Lock down admin and reviewer Controler: actions,
  LOCK DOWN ALL ACTIONS THAT REQUIRE YOU TO BE LOGGED IN
    verify 
      4.8 in the ruby book
    before_filter 
      this might work also.
  is there and easy way for this?
  an application function?
  DATE FORMATTING!!!!! from the DB, make that pretty
  Solution for image uploading? (Ruby group)
    add pictures to all (reviews, shops, baristas and users)
  ADD - validation to models
  ADD - relationships to models
  debugging: show all queries that ran?
  HOSTING? where? change the DB?
    heroku!
    migrate to PostrgDB (cause that's what heroku uses)
      can I use custom functions?
      I can't use SPs :(
  
FAQ
  calabration page
  help pages
    what do we need here?
  mission statement page?
  about us page?
  
GRAPHICS
  Make pretty. nick?
  Icons
    (We can have a mix of words and icons)
    settings 
      gear
    friends
      people
    my
      person?
    shops?
    reviews?
    baristas?
      portafilter?

  
SHOPS
  Set a score that shops won't show below. where is this stored? DB?
  when non admin/reviewer signed in, don't show inactive shops. (or shops below the minScore)
  make shops/ map prettier and add labels.
  directions to shops?
  
SETTINGS
  show scores in 0-100 range? (option for 0-6?)
  ADD - a my page, with links to all the my pages?
    -my locations, my reviews, my etc...
    
BARISTAS:
  add images?
  set a score that baristas won't show below (in DB?)
  baristas don't show up if they don't hit a score?
  -how do we handle this? grey the name out? don't show the name at all?
  -how do we handle the extreme situation of privacy from an abusive stalker?
    - opt in? 
    - barista can opt out when ever they want.
    - how? email me?
  can we link to Bx?
    pull the pictures from it?
    
USER_RELATIONSHIPS
  ADD - Friends? v2?
  ADD - follow reviewers.
  
HOME PAGE: 
    add most recent reviews, 10?
    highest shops?
    highest baristas?
    
    Cache all home page queries for once a day?
    
    limit google maps when there gets to be many shops. 
      how many shops show? 20? 10? 
    pick a random shop and show x miles around it. (if not logged in, or no location set)
    
BADGES
  - have lots of easy badges
  - lots of med
  - lots of hard
  
  - 1st check in
  - venture x miles away (multiple - 10, 100, 1000?)
  - 1st favorite
  - 1st location
  - coffee events! Coffee fest, etc.
  
  how do we hide badges from prying eyes?
  
CHECKIN
  how often can they check in?
  where is this logic?
  
COMMENTS 
  add comments on reviews?
  add comments on shops?
  how are these moderated?

REVIEWERS
  what do reviewers need?
    suggest shops
    see followers?
    A/E/D reviews
    see all shops regardless of score
      same or diff page?

ADMIN
  ALL REVIEW AND...
  what do admin need?
  approve shops
  
SHARING
  FACEBOOK!!!!!
  TWITTER
  get these turned on.
  
V2
  generate random coffee crawl?
    input
      address
      num of shops?
-->
</body>
</html>
